<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @project.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>


<%= link_to 'Edit', edit_cv_project_path(@project.cv, @project) %> |
<%= link_to 'Back', cv_path(@cv) %>
