<h1>Listing experiences</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Years</th>
      <th>Cv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experiences.each do |experience| %>
      <tr>
        <td><%= experience.name %></td>
        <td><%= experience.years %></td>
        <td><%= experience.cv %></td>
        <td><%= link_to 'Show', [experience.cv, experience] %></td>
        <td><%= link_to 'Edit', edit_cv_experience_path(experience.cv, experience) %></td>
        <td><%= link_to 'Destroy', [experience.cv, experience], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experience', new_cv_experience_path %>
