<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @experience.name %>
</p>

<p>
  <strong>Years:</strong>
  <%= @experience.years %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @experience.cv %>
</p>

<%= link_to 'Edit', edit_cv_experience_path(@cv, @experience) %> |
<%= link_to 'Back', cv_path(@cv) %>
