<h1>Listing cvs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Profile</th>
      <th>Title</th>
      <th>Stackoverflow reputation</th>
      <th>Blog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cvs.each do |cv| %>
      <tr>
        <td><%= cv.name %></td>
        <td><%= cv.profile %></td>
        <td><%= cv.title %></td>
        <td><%= cv.stackoverflow_reputation %></td>
        <td><%= cv.blog %></td>
        <td><%= link_to 'Show', cv %></td>
        <td><%= link_to 'Edit', edit_cv_path(cv) %></td>
        <td><%= link_to 'Destroy', cv, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cv', new_cv_path %>
