<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @education.title %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @education.institution %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @education.cv %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
